In [2]:
import numpy as np

### ZIP

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [7]:
# initializing lists 
name = [ "Bob", "Jack", "Sham", "Asti"] 
age = [ 24, 21, 23, 22 ] 
marks = [ 40, 50, 60, 70] 

# using zip() to map values 
mapped = zip(name, age, marks) 
print(mapped)

# converting values to print as set 
mapped = tuple(mapped) 

# printing resultant valuesÂ  
print("The zipped result is : ",end="") 
print(mapped)

<zip object at 0x0000017B9BAC4708>
The zipped result is : (('Bob', 24, 40), ('Jack', 21, 50), ('Sham', 23, 60), ('Asti', 22, 70))

In [8]:
mapped2 = list(mapped)
mapped2

[('Bob', 24, 40), ('Jack', 21, 50), ('Sham', 23, 60), ('Asti', 22, 70)]

In [19]:
name = [ "Bob", "Jack", "Sham", "Asti"] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ]

In [20]:
mapped = zip(name, roll_no, marks)

In [21]:
print("The zipped result is : ",end="") 
print(tuple(mapped))

The zipped result is : (('Bob', 4, 40), ('Jack', 1, 50), ('Sham', 3, 60), ('Asti', 2, 70))

### Reduce

A reduce() function is basically a function that performs the same operation to an items of a sequence, using the result of each operation as the first parameter of the next operation. A reduce function, in the end, returns an item, not a list, unlike map() and filter() functions.

In [18]:
# importing functools for reduce() 
import functools 
#initializing list 
lis = [ 1 , 3, 5, 6, 2] 
a=0
for i in lis:
    a+=i
print(a)

# using reduce to compute sum of list 
print ("The sum of the list elements is : ",end="") 
print(functools.reduce(lambda a,b : a+b,lis))
print('\n')
# using reduce to compute maximum element from list 
print ("The maximum element of the list is : ",end="") 
print(functools.reduce(lambda a,b : a if a > b else b,lis))

17
The sum of the list elements is : 17


The maximum element of the list is : 6

In [34]:
nums = (1, 2, 3, 4) 
result = list(map(float, nums))
result

[1.0, 2.0, 3.0, 4.0]

In [37]:
nums =(1, 2, 3, 4) 
#result = list(map(float, nums))
#result

In [50]:
# initializing list 
lis = [ 1 , 3, 5, 6, 2 ] 
# using reduce to compute sum of list 
print ("The sum of the list elements is : ",end="") 
lambda a,b : a+b,lis

The sum of the list elements is :

(<function __main__.<lambda>(a, b)>, [1, 3, 5, 6, 2])

In [11]:
# 1. Lambda functions

# A lambda function can take any number of arguments, but they can return only one value in the form of expression.
# Single one line function ,Anoymous function(no name),no def, no return

In [69]:
def cem(a,b,c):
    return a+b+c

print(cem(3,4,5))

12

In [68]:
add=lambda a,b,c: print(a+b+c)
add(4, 5, 1)

10

In [70]:
def biggest(a,b,c):
    if(a>b and a>c):
        print(a)
    elif(b>a and b>c):
        print(b)
    else:
        print(c)
        
biggest(2,5,8)

8

In [71]:
# Find Biggest element(Nested If else in lambda)
find_max=lambda a,b,c:a if a>b and a>c else (b if b>a and b>c else c)
print(find_max(6,15,1))

15

In [15]:
# Map

# Syntax: map(fun, iter)
#  fun : It is a function to which map passes each element of given iterable.
#  iter : It is a iterable which is to be mapped.
# You can pass one or more iterable to the map() function.
# The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

In [75]:
nums = [1,2,3,4,5]
nums = nums*nums
print(nums)

TypeError: can't multiply sequence by non-int of type 'list'

In [77]:
nums = [1, 2, 3, 4, 5]  
def sq(n):    
    return n*n  

#print(sq(nums))

square = list(map(sq, nums))
print(square)

[1, 4, 9, 16, 25]

In [78]:
nums = [1, 2, 3, 4, 5]  
def sq(n):    
    return n*n  
square = tuple(map(sq, nums))
print(square)

(1, 4, 9, 16, 25)

In [80]:
nums = [1, 2, 3, 4, 5, 3]  
def sq(n):    
    return n*n  
square = set(map(sq, nums))
print(square)

{1, 4, 9, 16, 25}

In [81]:
# Using Lambda inside map
nums = [1, 2, 3, 4, 5]
square = list(map(lambda x: x**x, nums))
print(square)

[1, 4, 27, 256, 3125]

In [82]:
#Convert all elements of list in uppercase
people = ["lokesh", "bob", "tom", "developer"]
up = list(map(lambda x: x.upper(), people))
print(up)

['LOKESH', 'BOB', 'TOM', 'DEVELOPER']

In [83]:
names = [
    {'first': 'lokesh', 'last': 'sharma'},
    {'first': 'Astha', 'last': 'verma'},
    {'first': 'jiu', 'last': 'rai'}
 ]
first_names = list(map(lambda x: x['first'], names))
print(first_names)

['lokesh', 'Astha', 'jiu']

In [84]:
names

[{'first': 'lokesh', 'last': 'sharma'},
 {'first': 'Astha', 'last': 'verma'},
 {'first': 'jiu', 'last': 'rai'}]

In [85]:
# Without Map

my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = []

for pet in my_pets:
    pet_ = pet.upper()
    uppered_pets.append(pet_)

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [86]:
# With Map

my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [87]:
# Filter

# Syntax: filter(fun, Iter)
#  fun: function that tests if each element of a sequence true or not.
#  Iter: Iterable which needs to be filtered.

In [88]:
#Filter out even and odd numbers from list
seq = [0, 1, 2, 3, 4, 5]

# result contains odd numbers of the list
result = filter(lambda x: x % 2, seq)
print("Odd numbers:",list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print("Even numbers:",list(result))

Odd numbers: [1, 3, 5]
Even numbers: [0, 2, 4]

In [89]:
# Without filter


numbers = [1,2,3,4,5]

even_numbers = []
for number in numbers:
    if (number % 2) == 0:
        even_numbers.append(number)

even_numbers

[2, 4]

In [90]:
# With filter

def even(number):
    if (number % 2) == 0:
        return True
    return False

numbers = [1,2,3,4,5]
even_numbers = filter(even, numbers)

In [91]:
# With filter and lambda

numbers = [1,2,3,4,5]

even_numbers = list(filter(lambda a: a%2==0, numbers))
even_numbers

[2, 4]

In [92]:
# A dictionary Users(twitter database) is given in which we have username and tweets.
users = [
    {"username": 'samuel', "tweets": ["i love cake", "i am good"]},
    {"username": 'andy', "tweets": []},
    {"username": 'kumal', "tweets": ["India", "Python"]},
    {"username": 'sam', "tweets": []},
    {"username": 'lokesh', "tweets": ["i am good"]},
]

In [93]:
users

[{'username': 'samuel', 'tweets': ['i love cake', 'i am good']},
 {'username': 'andy', 'tweets': []},
 {'username': 'kumal', 'tweets': ['India', 'Python']},
 {'username': 'sam', 'tweets': []},
 {'username': 'lokesh', 'tweets': ['i am good']}]

In [94]:
# Filter out Users which dont have any tweets/Inactive Users
inactive_users = list(filter(lambda a:not a['tweets'], users))
print(inactive_users)

[{'username': 'andy', 'tweets': []}, {'username': 'sam', 'tweets': []}]

In [95]:
# Filter inactive users with just username in uppercase.
inactive_users=list(map(lambda x:x["username"].upper(),
                    filter(lambda a:not a['tweets'], users)))
print(inactive_users)

['ANDY', 'SAM']

In [97]:
# Return a new list with the string âyour name isâ + name ,but only if length of name is bigger than 4
names=['lokesh','lassie','bob','to']
new=list(map(lambda name:f"your name is {name}",
        filter(lambda x:len(x)>4,names)))
print(new)

['your name is lokesh', 'your name is lassie']

In [98]:
# Zip

# Without Zip

even_numbers = [2,4,6,7,8,9,2,3,4]
even_numbers_squared = [4,16,36,49,64,81,4,9,16]
combined = []
even_numbers_index = 0
for number  in even_numbers:
    squared = even_numbers_squared[even_numbers_index]
    squared_tuple = (number, squared)
    combined.append(squared_tuple)
    even_numbers_index+=1
    
print(combined)

[(2, 4), (4, 16), (6, 36), (7, 49), (8, 64), (9, 81), (2, 4), (3, 9), (4, 16)]

In [99]:
# With Zip

even_numbers = [2,4,6,7,8,9,2,3,4]
even_numbers_squared = [4,16,36,49,64,81,4,9,16]
zipped_result = zip(even_numbers, even_numbers_squared)


list(zipped_result)

[(2, 4), (4, 16), (6, 36), (7, 49), (8, 64), (9, 81), (2, 4), (3, 9), (4, 16)]

In [100]:
# REDUCE

# The reduce() function accepts a function and a sequence and returns a single value calculated as follows:
#   Initially, the function is called with the first two items from the sequence and the result is returned.
#   The function is then called again with the result obtained in step 1 and the next value in the sequence. 
#     This process keeps repeating until there are items in the sequence.

In [101]:
from functools import reduce

seq=[2,3,4,5,6]
multiply=reduce(lambda a,b:a*b,seq)
print(multiply)

720

In [102]:
from functools import reduce 

# Use map to print the square of each numbers rounded
# to two decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

# Use filter to print only the names that are less than 
# or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]

# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]

# Fix all three respectively.
map_result = list(map(lambda x: round(x), my_floats))
filter_result = list(filter(lambda name: len(name)>7, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers, 1)

print(map_result)
print(filter_result)
print(reduce_result)

[4, 6, 3, 10, 2, 9, 5]
['akinremi', 'temidayo']
24840