In [ ]:
import numpy as np

### ZIP

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [ ]:
# initializing lists 
name = [ "Bob", "Jack", "Sham", "Asti"] 
age = [ 24, 21, 23, 22 ] 
marks = [ 40, 50, 60, 70] 

# using zip() to map values 
mapped = zip(name, age, marks) 
print(mapped)

# converting values to print as set 
mapped = tuple(mapped) 

# printing resultant values  
print("The zipped result is : ",end="") 
print(mapped)

<zip object at 0x7f599add6808>
The zipped result is : (('Bob', 24, 40), ('Jack', 21, 50), ('Sham', 23, 60), ('Asti', 22, 70))

In [ ]:
mapped2 = list(mapped)
mapped2

[('Bob', 24, 40), ('Jack', 21, 50), ('Sham', 23, 60), ('Asti', 22, 70)]

In [ ]:
name = [ "Bob", "Jack", "Sham", "Asti"] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ]

In [ ]:
mapped = zip(name, roll_no, marks)

In [ ]:
print("The zipped result is : ",end="") 
print(tuple(mapped))

The zipped result is : (('Bob', 4, 40), ('Jack', 1, 50), ('Sham', 3, 60), ('Asti', 2, 70))

In [ ]:
# 1. Lambda functions

# A lambda function can take any number of arguments, but they can return only one value in the form of expression.
# Single one line function ,Anoymous function(no name),no def, no return

In [ ]:
def cem(a,b,c):
    return a+b+c

print(cem(3,4,5))

12

In [ ]:
add=lambda a,b,c: print(a+b+c)
add(4, 5, 1)

10

In [ ]:
def biggest(a,b,c):
    if(a>b and a>c):
        print(a)
    elif(b>a and b>c):
        print(b)
    else:
        print(c)
        
biggest(2,5,8)

In [ ]:
lambda a,b,c:a if a>b and a>c else(b if b>a and b>c else c)

In [ ]:
# Find Biggest element(Nested If else in lambda)
find_max=lambda a,b,c:a if a>b and a>c else (b if b>a and b>c else c)
print(find_max(6,15,1))

15

In [ ]:
# Map

# Syntax: map(fun, iter)
#  fun : It is a function to which map passes each element of given iterable.
#  iter : It is a iterable which is to be mapped.
# You can pass one or more iterable to the map() function.
# The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) .

In [ ]:
nums = [1,2,3,4,5]
nums = nums*nums
print(nums)

TypeError: ignored

In [ ]:
nums = [1, 2, 3, 4, 5] 
for i in range(len(nums)):
    # i =1,2,3,4,5
    nums[i]=nums[i]**2
print(nums)

[1, 4, 9, 16, 25]

In [ ]:
nums = [1, 2, 3, 4, 5]  
def sq(n):    
    return n**2

#print(sq(nums))
list5=[]

for i in nums:
    #1,2
    print(sq(i),end=" ") # 1,4
    list5.append(sq(i)) #[1,4]
print('\n')
print(list5)
print('\n')
print('\n')
#print(sq(nums))

print(list(map(sq,nums)))

#square = list(map(sq, nums))
#print(square)

1 4 9 16 25

[1, 4, 9, 16, 25]




[1, 4, 9, 16, 25]

In [ ]:
nums = [1, 2, 3, 4, 5]  
def sq(n):    
    return n*n  
square = tuple(map(sq, nums))
print(square)

(1, 4, 9, 16, 25)

In [ ]:
nums = [1, 2, 3, 4, 5, 3]  
def sq(n):    
    return n*n  
square = set(map(sq, nums))
print(square)

{1, 4, 9, 16, 25}

In [ ]:
# Using Lambda inside map
nums = [1, 2, 3, 4, 5]

print(list(map(lambda x:x**2,nums)))


square = list(map(lambda x: x**2, nums))
print(square)

print(5==5)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
True

In [ ]:
#Convert all elements of list in uppercase
people = ["lokesh", "bob", "tom", "developer"]


print(tuple(map(lambda x:x.capitalize(), people)))

up2 = list(map(lambda x:x.capitalize(),people))

up = list(map(lambda x: x.upper(), people))
print(up)

('Lokesh', 'Bob', 'Tom', 'Developer')
['LOKESH', 'BOB', 'TOM', 'DEVELOPER']

In [ ]:
names = [
    {'first': 'lokesh', 'last': 'sharma'},
    {'first': 'Astha', 'last': 'verma'},
    {'first': 'jiu', 'last': 'rai'}
 ]
print(names)
print(type(names))

first_names = list(map(lambda x: x['first'], names))
print(first_names)

[{'first': 'lokesh', 'last': 'sharma'}, {'first': 'Astha', 'last': 'verma'}, {'first': 'jiu', 'last': 'rai'}]
<class 'list'>
['lokesh', 'Astha', 'jiu']

In [ ]:
names

In [ ]:
# Without Map

my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = []

for pet in my_pets:
    pet_ = pet.upper()
    uppered_pets.append(pet_)

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [ ]:
# With Map

my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [ ]:
# Filter

# Syntax: filter(fun, Iter)
#  fun: function that tests if each element of a sequence true or not.
#  Iter: Iterable which needs to be filtered.

In [ ]:
#Filter out even and odd numbers from list
seq = [0, 1, 2, 3, 4, 5]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 == 1, seq)
print("Odd numbers:",list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print("Even numbers:",list(result))

Odd numbers: [1, 3, 5]
Even numbers: [0, 2, 4]

In [ ]:
# Without filter


numbers = [1,2,3,4,5]

even_numbers = []
for number in numbers:
    if (number % 2) == 0:
        even_numbers.append(number)

print(even_numbers)


print(list(filter(lambda x:x%2==0,numbers)))

[2, 4]
[2, 4]

In [ ]:
# With filter

def even(number):
    if (number % 2) == 0:
        return True
    return False

numbers = [1,2,3,4,5]
even_numbers = filter(even, numbers)

In [ ]:
# With filter and lambda

numbers = [1,2,3,4,5]

even_numbers = list(filter(lambda a: a%2==1, numbers))
even_numbers

[1, 3, 5]

In [ ]:
# A dictionary Users(twitter database) is given in which we have username and tweets.
users = [
    {"username": 'samuel', "tweets": ["i love cake", "i am good"]},
    {"username": 'andy', "tweets": []},
    {"username": 'kumal', "tweets": ["India", "Python"]},
    {"username": 'sam', "tweets": []},
    {"username": 'lokesh', "tweets": ["i am good"]},
]

In [ ]:
users

[{'tweets': ['i love cake', 'i am good'], 'username': 'samuel'},
 {'tweets': [], 'username': 'andy'},
 {'tweets': ['India', 'Python'], 'username': 'kumal'},
 {'tweets': [], 'username': 'sam'},
 {'tweets': ['i am good'], 'username': 'lokesh'}]

In [ ]:
# Filter out Users which dont have any tweets/Inactive Users
print(tuple(filter(lambda x: not x['tweets'], users)))

inactive_users = list(filter(lambda a: a['tweets'], users))
print(inactive_users)

({'username': 'andy', 'tweets': []}, {'username': 'sam', 'tweets': []})
[{'username': 'samuel', 'tweets': ['i love cake', 'i am good']}, {'username': 'kumal', 'tweets': ['India', 'Python']}, {'username': 'lokesh', 'tweets': ['i am good']}]

In [ ]:
# Filter inactive users with just username in uppercase.
inactive_users=list(map(lambda x:x["username"].upper(),
                    filter(lambda a:not a['tweets'], users)))


print(list(map(lambda x:x['username'].upper(),filter(lambda x: not x['tweets'],users))))


print(inactive_users)

['ANDY', 'SAM']
['ANDY', 'SAM']

In [ ]:
# Return a new list with the string “your name is” + name ,but only if length of name is bigger than 4
names=['lokesh','lassie','bob','to']
new=list(map(lambda name:f"your name is {name}",
        filter(lambda x:len(x)>4,names)))
print(new)

['your name is lokesh', 'your name is lassie']

In [ ]:
# Zip

# Without Zip

even_numbers = [2,4,6,7,8,9,2,3,4]
even_numbers_squared = [4,16,36,49,64,81,4,9,16]
combined = []
even_numbers_index = 0
for number  in even_numbers:
    #number =2, 4
    squared = even_numbers_squared[even_numbers_index] #squared = 4, 16
    squared_tuple = (number, squared)
    combined.append(squared_tuple)
    even_numbers_index+=1
    
print(combined)

[(2, 4), (4, 16), (6, 36), (7, 49), (8, 64), (9, 81), (2, 4), (3, 9), (4, 16)]

In [ ]:
# With Zip

even_numbers = [2,4,6,7,8,9,2,3,4]
even_numbers_squared = [4,16,36,49,64,81,4,9,16]
zipped_result = zip(even_numbers, even_numbers_squared)

zip(even_numbers,even_numbers_squared)

list(zipped_result)

[(2, 4), (4, 16), (6, 36), (7, 49), (8, 64), (9, 81), (2, 4), (3, 9), (4, 16)]

In [ ]:
# REDUCE

# The reduce() function accepts a function and a sequence and returns a single value calculated as follows:
#   Initially, the function is called with the first two items from the sequence and the result is returned.
#   The function is then called again with the result obtained in step 1 and the next value in the sequence. 
#     This process keeps repeating until there are items in the sequence.

In [ ]:
from functools import reduce

seq=[2,3,4,5,6]
multiply=reduce(lambda a,b:a*b,seq)

reduce(lambda a,b:a*b,seq)

#  a=2, b=3 -> reduce -> a =2*3= 6
# a =6, b=4 -> reduce -> a = 6*4=24
# a = 24, b=5-> a=120
# a= 120, b=6-> a=720


print(multiply)

720

In [ ]:
from functools import reduce 

# Use map to print the square of each numbers rounded
# to two decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

# Use filter to print only the names that are less than 
# or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]

# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]

# Fix all three respectively.
map_result = list(map(lambda x: round(x*x,2), my_floats))
filter_result = list(filter(lambda name: len(name)>7, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers, 2)

print(map_result)
print(filter_result)
print(reduce_result)

[18.92, 37.09, 10.56, 95.45, 4.67, 78.85, 21.07]
['akinremi', 'temidayo']
49680

In [ ]:
y = lambda x,y: x*y

print(y(2,3))